@import "src/styles/modules";

.pagination {
  justify-content: center;
  margin: 0;

  :global(.visually-hidden) {
    display: none;
  }
}

.pagination-item {
  display: inline-block;
  margin: 0 9px;

  &.numbers {
    margin: 0 3px;
  }

  &.hidden {
    visibility: hidden;
  }

  @include media-breakpoint-down(md) {
    margin: 0 6px;

    &.numbers {
      display: none;
    }
  }

  > a,
  > span {
    float: none;
    display: inline-block;
    padding: 8px 16px;
    margin: 0;
    border: none;
    border-radius: 0 !important;
  }

  > a {
    margin: 0;
    transition: background-color 0.3s;
  }
}

.simple-pagination {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  margin: 0;
  text-align: left;

  @include media-breakpoint-down(md) {
    flex-wrap: wrap;
  }
}

.simple-pagination-item {
  width: calc(50% - 10px);
  margin: 0;

  > :global(.page-link) {
    display: flex;
    align-items: center;
    height: 100%;
    min-height: 4em;
  }

  &.prev > :global(.page-link) {
    justify-content: flex-start;

    .icon {
      margin-right: 10px;
    }
  }

  &.next > :global(.page-link) {
    justify-content: flex-end;

    .icon {
      margin-left: 10px;
    }
  }

  @include media-breakpoint-down(md) {
    width: 100%;

    + li {
      margin-top: 10px;
    }

    &.hidden {
      display: none;

      + li {
        margin-top: 0;
      }
    }
  }
}

.container {
  text-align: center;
}
