@import "src/styles/modules";

$items: computers, gadgets, programming, pspprogramming, soarer, softwares, windows;

.icon {
  display: inline-block;

  &:hover {
    text-decoration: none;

    @each $item in $items {
      &.#{$item} svg {
        background-color: var(--taxonomy-#{$item}-hover);
        fill: var(--taxonomy-color);
      }
    }
  }

  @each $item in $items {
    &.#{$item} svg {
      background-color: var(--taxonomy-#{$item});
      fill: var(--taxonomy-color);
    }
  }

  svg {
    transition: background-color 0.3s;

    @include media-breakpoint-down(sm) {
      width: 50px;
      height: 50px;
    }
  }
}
