version: 2
updates:
- package-ecosystem: github-actions
  directory: "/"
  schedule:
    interval: weekly
    day: saturday
    time: "00:00"
    timezone: Asia/Tokyo
- package-ecosystem: npm
  directory: "/"
  schedule:
    interval: weekly
    day: saturday
    time: "00:00"
    timezone: Asia/Tokyo
  groups:
    fortawesome:
      patterns:
      - "@fortawesome/*-core"
      - "@fortawesome/*-icons"
    gatsby:
      patterns:
      - gatsby
      - gatsby-plugin-google-etag
      - gatsby-plugin-no-sourcemaps
      - gatsby-plugin-sass
      - gatsby-remark-autolink-headers
      - gatsby-remark-copy-linked-files
      - gatsby-remark-images
      - gatsby-remark-prismjs
      - gatsby-source-filesystem
      - gatsby-transformer-remark
      - gatsby-transformer-sharp
      - gatsby-transformer-yaml
    react:
      patterns:
      - react
      - react-dom
    storybook:
      patterns:
      - storybook
      - "@storybook/addon-*"
      - "@storybook/react-*"
    stylelint:
      patterns:
      - stylelint
      - stylelint-config-standard-scss
      - stylelint-scss
    typescript-eslint:
      patterns:
      - "@typescript-eslint/*"
  open-pull-requests-limit: 99
  versioning-strategy: increase
- package-ecosystem: docker
  directory: "/"
  schedule:
    interval: weekly
    day: saturday
    time: "00:00"
    timezone: Asia/Tokyo
  open-pull-requests-limit: 99
