{
  "compact": false,
  "presets": [
    ["gatsby", {
      "reactRuntime": "automatic"
    }]
  ],
  "plugins": [
    ["@babel/plugin-transform-typescript"],
    ["react-intl-auto", { "removePrefix": "src/" }]
  ]
}
