{
  "compact": false,
  "presets": [
    ["@babel/preset-typescript"],
    ["gatsby", {
      "reactRuntime": "automatic"
    }]
  ],
  "plugins": [
    ["react-intl-auto", { "removePrefix": "src/" }]
  ]
}
