{
  "presets": [
    ["gatsby"],
    ["@babel/preset-env"]
  ],
  "plugins": [
    ["@babel/plugin-transform-runtime"],
    ["@babel/plugin-proposal-class-properties"],
    ["react-intl-auto", { "removePrefix": "src/" }],
    ["styled-components"]
  ]
}
