[submodule "static/softwares/superflat"]
	path = static/softwares/superflat
	url = https://github.com/chitoku-k/minecraft-superflat-editor.git
[submodule "plugins/gatsby-remark-component"]
	# https://github.com/Hebilicious/gatsby-remark-component/pull/11
	path = plugins/gatsby-remark-component
	url = https://github.com/Hebilicious/gatsby-remark-component.git
	ignore = dirty
