@import "src/styles/modules";

.container {
  padding-bottom: 60px;

  @include media-breakpoint-down(lg) {
    padding: 15px 12px;
  }
}

.row {
  @include media-breakpoint-up(lg) {
    flex-wrap: nowrap;
    align-items: flex-start;
  }
}

.col {
  position: static;
  flex: 0 0 100%;
  width: 100%;
  max-width: 100%;
  padding: 0;

  &.sidebar {
    flex: 0 0 70%;
    width: 70%;
    max-width: 70%;

    @include media-breakpoint-down(lg) {
      flex: 0 0 100%;
      width: 100%;
      max-width: 100%;
    }
  }
}
