@import "src/styles/modules";

.title {
  display: inline-flex;
  padding-left: 8px;
  margin: 0 0 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 20px;
  white-space: nowrap;
  border-left: 1em solid var(--headings-primary);

  a {
    color: var(--containers-color);
  }
}
