.main-content {
  &.home {
    .home-menu-link {
      padding: 10px 0 0 0;
      margin-bottom: 20px;
      color: #333333;
      text-align: center;
      a {
        color: #333333;
      }
      h2 {
        margin: 18px 0 14px;
        padding: 0;
        background: none;
        color: #333333;
        border: none;
      }
      p {
        margin-bottom: 0;
        padding: 0 12px;
        line-height: 1.4;
        font-size: 14px;
        text-align: left;
      }
      @include media-sp {
        width: 100%;
        margin-bottom: 0;
        padding-top: 16px;
        padding-bottom: 16px;
        border-bottom: 1px solid #efefef;
        text-align: left;
        &:first-child {
          padding-top: 0;
        }
        &:nth-last-child(3) {
          padding-bottom: 0;
          border: none;
          margin-bottom: 6px;
        }
        > a {
          margin: 0;
        }
        > p {
          padding: 6px 0 0;
          clear: both;
        }
        h2 {
          float: left;
          margin: 10px 8px;
        }
      }
    }
    .home-menu-link-image {
      display: inline-block;
      svg {
        transition: fill .3s;
        width: 175px;
        height: 175px;
        margin: 0 auto;
        @include media-sp {
          float: left;
          width: 44px;
          height: 44px;
        }
      }
    }
    @mixin fill($color, $hover) {
      svg {
        fill: $color;
        &:hover {
          fill: $hover;
        }
      }
    }
    #pspprogramming-link {
      @include fill(#39bc75, #21a160);
    }
    #soarer-link {
      @include fill(#48a9e2, #308ecd);
    }
    #recotw-link {
      @include fill(#6e587e, #563d69);
    }
    #windows-link {
      @include fill(#e73c3c, #cf2424);
    }
    #psp-smartphone-link {
      @include fill(#e67e22, #ce660a);
    }
    #programming-link {
      @include fill(#f1c40f, #d9ac00);
    }
  }
}
