article.page-softwares {
  img {
    margin-right: 6px;

    @include media-breakpoint-up(md) {
      margin-right: 12px;
    }
  }

  h2 {
    margin-bottom: 0;
  }

  h3 {
    padding: 0;
    margin: 0;
    background: none;
    border: none;

    &,
    > a {
      display: inline-flex;
      align-items: center;
    }

    a {
      color: var(--headings-color);
    }

    img,
    .gatsby-resp-image-wrapper {
      width: 48px;
      max-width: none !important;
      height: 48px;
      margin-right: 12px !important;
      margin-left: 0 !important;
    }
  }

  div > p {
    @include media-breakpoint-down(md) {
      padding-left: 16px;
    }

    @include media-breakpoint-down(sm) {
      padding-left: 60px;
    }
  }

  div > ul {
    @include media-breakpoint-down(sm) {
      padding-left: 78px;
    }
  }

  div > p,
  div > ul {
    padding-top: 0;
    margin-bottom: 0;

    + p {
      margin-top: 0.5em;
    }

    @include media-breakpoint-up(md) {
      margin-left: 44px;
    }
  }

  // Gatsby
  .gatsby-resp-image-image {
    box-shadow: none !important;
  }
}
