// Body
$body-color: #111;
$body-color-dark: #c3c4c7;
$body-bg: #efefef;
$body-bg-dark: #484848;

// Components
$border-color: #ddd;
$border-color-dark: #62666b;

// Typography
$hr-border-color: $border-color;
$hr-border-color-dark: $border-color-dark;

// Link
$link-color: #1e61ad;
$link-color-dark: #688bb4;
$link-hover-color: #133c6c;
$link-hover-color-dark: #6b94c4;
