:root {
  --body-background: #484848;
  --body-color: #c3c4c7;
  --links-color: #688bb4;
  --links-hover: #6b94c4;
  --header-primary: #c3c4c7;
  --header-secondary: #a21919;
  --footer-background: #283848;
  --footer-color: #c3c4c7;
  --nav-background: #283848;
  --nav-color: #c3c4c7;
  --nav-hover: #243341;
  --nav-active: #212c39;
  --nav-border: #253240;
  --subnav-background: #484848;
  --subnav-color: #c3c4c7;
  --subnav-hover: #565656;
  --subnav-active: #3e3e3e;
  --subnav-inactive: #c3c4c7;
  --search-background: #3d4852;
  --search-color: #c3c4c7;
  --search-placeholder: #949494;
  --search-icon: #949494;
  --search-shadow: #37393f;
  --search-path: #559152;
  --containers-background: #313335;
  --containers-color: #c3c4c7;
  --containers-shadow: #393939;
  --headings-color: #c3c4c7;
  --headings-primary: #a21919;
  --headings-secondary: #4a5056;
  --headings-border: #62666b;
  --blockquote-border: #484848;
  --table-border: #62666b;
  --code-background: #2d2d2d;
  --code-prompt: #999;
  --info-background: #3d4f52;
  --info-color: #c3c4c7;
  --info-border: #5a7a80;
  --danger-background: #442f31;
  --danger-color: #c3c4c7;
  --danger-border: #653637;
  --tweet-background: #000;
  --tweet-color: #d9d9d9;
  --tweet-border: #2f3336;
  --readmore-background: #a21919;
  --readmore-color: #e0e0e0;
  --readmore-hover: #901c1c;
  --pagination-background: #484848;
  --pagination-color: #c3c4c7;
  --pagination-hover: #565656;
  --pagination-active: #a21919;
  --sidebar-description: #9c9c9c;
  --feed-background: #f76204;
  --feed-hover: #e34e00;
  --feed-color: #e0e0e0;
  --share-color: #fff;
  --share-twitter: #00b0ed;
  --share-twitter-hover: #009cd9;
  --share-facebook: #315096;
  --share-facebook-hover: #1d3c82;
  --share-pocket: #ff2651;
  --share-pocket-hover: #eb126e;
  --share-hatena: #05a4de;
  --share-hatena-hover: #0090ca;
  --share-tumblr: #35465c;
  --share-tumblr-hover: #213248;
  --taxonomy-color: #fff;
  --taxonomy-pspprogramming: #39bc75;
  --taxonomy-pspprogramming-hover: #21a160;
  --taxonomy-soarer: #48a9e2;
  --taxonomy-soarer-hover: #308ecd;
  --taxonomy-computers: #2d2e64;
  --taxonomy-computers-hover: #18194f;
  --taxonomy-windows: #e73c3c;
  --taxonomy-windows-hover: #cf2424;
  --taxonomy-pspsmartphone: #e67e22;
  --taxonomy-pspsmartphone-hover: #ce660a;
  --taxonomy-programming: #f1c40f;
  --taxonomy-programming-hover: #d9ac00;
  --mail-accepted: #009688;
  --mail-error: #e11011;
  --mail-required: #e11011;
}
