:root {
  --body-background: #efefef;
  --body-color: #111;
  --links-color: #1e61ad;
  --links-hover: #133c6c;
  --header-primary: #2f4255;
  --header-secondary: #e11010;
  --footer-background: #44607b;
  --footer-color: #fff;
  --nav-background: #44607b;
  --nav-color: #fff;
  --nav-hover: #34495e;
  --nav-active: #2f4255;
  --nav-border: #395168;
  --subnav-background: #f8f9fa;
  --subnav-color: #555;
  --subnav-hover: #ececec;
  --subnav-active: #e7e7e7;
  --subnav-inactive: #777;
  --search-background: #fff;
  --search-color: #111;
  --search-placeholder: #757575;
  --search-icon: #2f4255;
  --search-shadow: #d8d8d8;
  --search-path: #4f7f4d;
  --containers-background: #fff;
  --containers-color: #111;
  --containers-shadow: #c1c1c1;
  --headings-color: #444;
  --headings-primary: #e11010;
  --headings-secondary: #efefef;
  --headings-border: #d4d4d4;
  --blockquote-border: #eee;
  --table-border: #ddd;
  --code-background: #f4f2f0;
  --code-prompt: #708090;
  --info-background: #d1ecf1;
  --info-color: #0c5460;
  --info-border: #bee5eb;
  --danger-background: #f8d7da;
  --danger-color: #721c24;
  --danger-border: #f5c6cb;
  --tweet-background: #fff;
  --tweet-color: #14171a;
  --tweet-border: #ccd6dd;
  --readmore-background: #e11010;
  --readmore-color: #fff;
  --readmore-hover: #a30c0c;
  --pagination-background: #efefef;
  --pagination-color: #111;
  --pagination-hover: #cacaca;
  --pagination-active: #e11010;
  --sidebar-description: #757575;
  --feed-background: #f76204;
  --feed-hover: #e34e00;
  --feed-color: #fff;
  --share-color: #fff;
  --share-twitter: #00b0ed;
  --share-twitter-hover: #009cd9;
  --share-facebook: #315096;
  --share-facebook-hover: #1d3c82;
  --share-pocket: #ff2651;
  --share-pocket-hover: #eb126e;
  --share-hatena: #05a4de;
  --share-hatena-hover: #0090ca;
  --share-tumblr: #35465c;
  --share-tumblr-hover: #213248;
  --taxonomy-color: #fff;
  --taxonomy-pspprogramming: #39bc75;
  --taxonomy-pspprogramming-hover: #21a160;
  --taxonomy-soarer: #48a9e2;
  --taxonomy-soarer-hover: #308ecd;
  --taxonomy-computers: #2d2e64;
  --taxonomy-computers-hover: #18194f;
  --taxonomy-windows: #e73c3c;
  --taxonomy-windows-hover: #cf2424;
  --taxonomy-pspsmartphone: #e67e22;
  --taxonomy-pspsmartphone-hover: #ce660a;
  --taxonomy-programming: #f1c40f;
  --taxonomy-programming-hover: #d9ac00;
  --mail-accepted: #009688;
  --mail-error: #e11011;
  --mail-required: #e11011;
}
