@import "~prismjs/themes/prism";
@import "~prismjs/plugins/line-numbers/prism-line-numbers";

@media (prefers-color-scheme: dark) {
  @import "~prismjs/themes/prism-tomorrow";

  pre[class*=language],
  code[class*=language] {
    &::selection,
    ::selection {
      background-color: var(--selection-background);
    }
  }
}
