$fa-font-path: "~font-awesome/fonts";
$headings-line-height: 1.1;
$font-size-base: 0.875rem;
$font-family-emoji-base:
  /* macOS */
  "Apple Color Emoji",
  /* Windows */
  "Segoe UI Emoji", "Segoe UI Symbol";
$font-family-sans-serif:
  /* Safari for macOS and iOS */
  "-apple-system",
  /* Chrome for macOS */
  "BlinkMacSystemFont",
  /* Android */
  "Roboto",
  /* Windows */
  "Verdana", "BIZ UDゴシック", "Meiryo",
  /* macOS */
  "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ Pro W3",
  /* Fallback */
  sans-serif,
  /* Emoji */
  #{$font-family-emoji-base};
$font-family-monospace:
  /* Windows */
  Consolas, "BIZ UDゴシック",
  /* macOS */
  Menlo, Monaco, "Andale Mono",
  /* Ubuntu */
  "Ubuntu Mono",
  /* Fallback */
  monospace,
  /* Emoji */
  #{$font-family-emoji-base};

// Body
$body-bg: var(--body-background);
$body-color: var(--body-color);

// Link
$link-color: var(--links-color);
$link-hover-color: var(--links-hover);

// Table
$hr-border-color: var(--table-border);
$table-border-color: var(--table-border);

// Input
$input-bg: var(--body-background);
$input-color: var(--body-color);
$input-border-color: var(--table-border);

// Pagination
$pagination-bg: var(--pagination-background);
$pagination-color: var(--pagination-color);
$pagination-hover-color: var(--pagination-color);
$pagination-hover-bg: var(--pagination-hover);
$pagination-active-bg: var(--pagination-active);

// Popover
$popover-bg: var(--containers-background);
$popover-header-bg: rgba(0, 0, 0, 0);
