@import "../themes.json";

$fa-font-path: "~font-awesome/fonts";
$headings-line-height: 1.1;
$font-size-base: 0.875rem;
$font-family-base:
  /* Safari for macOS and iOS */
  "-apple-system",
  /* Chrome for macOS*/
  "BlinkMacSystemFont",
  /* Android*/
  "Roboto",
  /* Windows*/
  "Verdana", "Meiryo",
  /* macOS*/
  "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ Pro W3",
  /* Fallback*/
  sans-serif,
  /* Emoji*/
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$primary: #1e61ad;

$pagination-active-bg: #e11010;

$pagination-color: #141414;
$pagination-bg: #efefef;

$pagination-hover-color: #141414;
$pagination-hover-bg: #cacaca;
