$fa-font-path: "~font-awesome/fonts";
$color-mode-type: media-query;
$headings-line-height: 1.1;
$font-size-base: 0.875rem;
$font-family-emoji-base:
  /* macOS */
  "Apple Color Emoji",
  /* Windows */
  "Segoe UI Emoji", "Segoe UI Symbol";
$font-family-sans-serif:
  /* Safari for macOS and iOS */
  "-apple-system",
  /* Chrome for macOS */
  "BlinkMacSystemFont",
  /* Android */
  "Roboto",
  /* Windows */
  "Verdana", "BIZ UDゴシック", "Meiryo",
  /* macOS */
  "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ Pro W3",
  /* Fallback */
  sans-serif,
  /* Emoji */
  #{$font-family-emoji-base};
$font-family-monospace:
  /* Windows */
  Consolas, "BIZ UDゴシック",
  /* macOS */
  Menlo, Monaco, "Andale Mono",
  /* Ubuntu */
  "Ubuntu Mono",
  /* Fallback */
  monospace,
  /* Emoji */
  #{$font-family-emoji-base};

// Link
$link-decoration: none;
$link-hover-decoration: underline;

// Typography
$hr-border-color: var(--table-border);

// Table
$table-color: var(--body-color);
$table-bg: var(--containers-background);
$table-border-color: var(--table-border);

// Input
$input-bg: var(--body-background);
$input-color: var(--body-color);
$input-border-color: var(--table-border);

// Pagination
$pagination-font-size: .875rem;
$pagination-bg: var(--pagination-background);
$pagination-color: var(--pagination-color);
$pagination-hover-color: var(--pagination-color);
$pagination-hover-bg: var(--pagination-hover);
$pagination-focus-color: var(--pagination-color);
$pagination-focus-bg: var(--pagination-hover);
$pagination-active-bg: var(--pagination-active);

// Cards
$card-border-color: var(--table-border);
$card-bg: var(--containers-background);

// Popover
$popover-bg: var(--containers-background);
$popover-header-bg: rgb(0 0 0 / 0%);
