@import "modules";
@import "theme";
@import "bootstrap-custom";
@import "prism";
@import "~@fortawesome/fontawesome-svg-core/styles";
@import "pages/softwares";

// Basic
html,
body {
  overflow-wrap: break-word;

  &,
  div#___gatsby {
    height: 100%;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

ol,
ul {
  padding-left: 40px;
}

blockquote {
  margin: 0 4px 20px 16px;
}

pre {
  padding: 0;
  background-color: inherit;
  border: none;
}

a {
  -webkit-tap-highlight-color: initial;

  @at-root button, &, &:focus {
    outline: none !important;
  }
}

input,
button {
  &::-moz-focus-inner {
    border: 0;
  }
}

// Prism
pre[class*="language-"],
code[class*="language-"] {
  font-family: var(--bs-font-monospace);
}

// Alerts
.alert-danger {
  color: var(--danger-color);
  background-color: var(--danger-background);
  border-color: var(--danger-border);
}

.alert-info {
  color: var(--info-color);
  background-color: var(--info-background);
  border-color: var(--info-border);
}

// Tweet
.twitter-tweet {
  margin: 20px auto;
  font-size: 100%;
}

.twitter-tweet + .twitter-tweet {
  visibility: hidden;
}

blockquote.twitter-tweet {
  width: 550px;
  max-width: 100%;
  color: var(--tweet-color);
  background-color: var(--tweet-background);
  border: 1px solid var(--tweet-border) !important;
  border-radius: 15px;
}
