@import "src/styles/modules";

.notice {
  text-align: center;
}

.required {
  color: var(--mail-required);
}

.group {
  margin-bottom: 1rem;
}

.area {
  margin-bottom: 10px;
}

.accepted {
  margin-right: 5px;
  color: var(--mail-accepted);
}

.error {
  margin-right: 5px;
  color: var(--mail-error);
}

.processing {
  margin-right: 5px;
}

.input {
  font-size: 16px;
  resize: vertical;

  &,
  &:focus {
    color: var(--containers-color);
    background-color: var(--containers-background);
  }
}

.wrapper {
  display: block;
}

.title {
  display: inline-block;
  margin-bottom: 5px;
}

.verification {
  min-height: 100px;
  padding-bottom: 8px;

  @include media-breakpoint-down(md) {
    text-align: center;
  }
}

.submission {
  text-align: center;
}
