@import "src/styles/modules";

$items: pspprogramming, soarer, recotw, windows, pspsmartphone, programming;

.wrapper {
  position: relative;
  width: 175px;
  height: 175px;
  margin: 0 auto;

  @include media-breakpoint-down(sm) {
    float: left;
    width: 44px;
    height: 44px;
  }
}

.curtain {
  position: absolute;
  top: 28px;
  left: 28px;
  width: 120px;
  height: 120px;
  background-color: var(--home-color);
  transform: rotate(45deg);

  @include media-breakpoint-down(sm) {
    top: 8px;
    left: 8px;
    width: 29px;
    height: 29px;
  }
}

.item {
  padding: 10px 0 0 0;
  margin-bottom: 20px;
  text-align: center;

  @include media-breakpoint-down(sm) {
    flex: 0 0 100%;
    width: 100%;
    max-width: 100%;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-bottom: 0;
    text-align: left;
    border-bottom: 1px solid var(--table-border);

    &:first-of-type {
      padding-top: 0;
    }

    &:last-of-type {
      padding-bottom: 0;
      margin-bottom: 6px;
      border: none;
    }
  }
}

.link {
  display: inline-block;

  &:hover {
    text-decoration: none;

    @each $item in $items {
      &.#{$item} svg {
        fill: var(--home-#{$item}-hover);
      }
    }
  }

  @each $item in $items {
    &.#{$item} svg {
      fill: var(--home-#{$item});
    }
  }

  svg {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    transition: fill 0.3s;

    @include media-breakpoint-down(sm) {
      width: 44px;
      height: 44px;
    }
  }
}

.title {
  padding: 0;
  margin: 18px 0 14px;
  font-size: 140%;
  color: var(--headings-color);
  background: none;
  border: none;

  @include media-breakpoint-down(sm) {
    float: left;
    margin: 10px 8px;
  }
}

.description {
  padding: 0 12px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.4;
  text-align: left;

  @include media-breakpoint-down(sm) {
    padding: 6px 0 0;
    clear: both;
  }
}
