@import "src/styles/modules";

.container {
  padding-bottom: 0;
}

.header {
  margin-bottom: 20px;
}

.row {
  padding: 0;
  -webkit-overflow-scrolling: touch;

  @include media-breakpoint-down(md) {
    flex-wrap: nowrap;
    padding-right: 15px;
    padding-left: 15px;
    overflow-x: auto;

    &.row {
      margin-right: -15px;
      margin-left: -15px;
    }
  }
}

.col {
  padding: 0;
  padding-bottom: 20px;

  @include media-breakpoint-down(md) {
    max-width: 100%;
    padding-bottom: 15px;
    margin-right: 5px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.category {
  flex-wrap: nowrap;
  align-items: center;

  @include media-breakpoint-down(md) {
    flex-wrap: wrap;
    width: 80px;
  }
}

.icon {
  padding: 0;

  svg {
    width: 60px;
    height: 60px;

    @include media-breakpoint-down(md) {
      width: 50px;
      height: 50px;
    }
  }

  @include media-breakpoint-down(md) {
    text-align: center;
  }
}

.name {
  padding: 0;
  margin: 0 0 0 10px;
  overflow: hidden;
  text-overflow: ellipsis;

  @include media-breakpoint-down(md) {
    margin: 0;
    overflow: visible;
    line-height: 1;
    text-align: center;
  }
}

.link {
  font-size: 120%;
  font-weight: bold;
  white-space: nowrap;

  &,
  &:hover {
    color: var(--containers-color);
  }

  @include media-breakpoint-down(md) {
    display: block;
    margin-top: 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 80%;
    text-align: center;
  }
}

.description {
  margin-top: 2px;
  font-size: 75%;
  color: var(--sidebar-description);

  @include media-breakpoint-down(md) {
    display: inline-block;
    margin-top: 6px;
    font-size: 65%;
    line-height: 1.2;
    text-align: left;
  }
}
