@import "src/styles/modules";

.entry {
  padding: 0 16px;
  margin-bottom: 32px;

  @include media-breakpoint-down(md) {
    padding: 0 13px;
  }

  @include media-breakpoint-down(sm) {
    padding: 0;
  }
}

.prototype {
  display: block;
  padding: 4px 8px !important;
  margin-top: 4px !important;
  margin-bottom: 4px !important;
  overflow-x: auto;
  white-space: pre !important;
  -webkit-overflow-scrolling: touch;
}

.parameter {
  padding: 2px 4px !important;
}

.separator {
  margin: 0 8px;
}

.description {
  padding: 0 8px;
  margin-bottom: 2px;
  font-size: 11pt;
  line-height: 1.8;

  @include media-breakpoint-down(sm) {
    ul {
      padding-left: 20px;
    }
  }
}
