@import "src/styles/modules";

.container {
  top: 0;
  z-index: 5;
  width: 100%;
  margin-bottom: 24px;
  background-color: var(--nav-background);
  -webkit-overflow-scrolling: touch;

  @include media-breakpoint-down(lg) {
    white-space: nowrap;
  }

  @include media-breakpoint-down(md) {
    margin-bottom: 12px;
    overflow-x: auto;
  }
}

.row {
  align-items: center;
  justify-content: space-between;
  height: auto;
  margin-left: 0;

  @include media-breakpoint-down(md) {
    height: 45px;
    margin-right: 0;
  }
}

.navbar {
  padding: 0;
  margin-bottom: 0;
  background-color: transparent;
  border: none;
  border-radius: 0;

  @include media-breakpoint-up(md) {
    :global {
      .dropdown:hover .dropdown-menu {
        display: block;
      }
    }
  }

  @include media-breakpoint-down(md) {
    width: 100%;

    &.search {
      display: none;
    }
  }
}

.nav {
  flex-wrap: nowrap;
  padding: 0;

  > :global(.active) > a {
    &,
    &:hover,
    &:focus {
      color: var(--nav-color);
      background-color: var(--nav-active);
    }
  }
}

.search-icon {
  @include media-breakpoint-up(md) {
    display: none;
  }
}
