@import "src/styles/modules";

.footer {
  padding: 8px 0;
  color: var(--footer-color);
  text-align: center;
  background-color: var(--footer-background);

  @include media-breakpoint-up(lg) {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}

.link {
  &,
  &:hover {
    color: var(--footer-color);
  }

  & + &::before {
    display: inline-block;
    width: 4px;
    height: 4px;
    margin: 0 4px;
    vertical-align: middle;
    content: "";
    background-color: var(--footer-color);
    border-radius: 50%;
  }
}
