@import "src/styles/modules";

.status {
  display: block;
  height: 30px;
  margin: 60px auto 40px;
}

.result-header {
  h1 {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      width: 200px;

      @include media-breakpoint-down(md) {
        width: 150px;
      }
    }
  }
}

.hit-container {
  & + & {
    margin-top: 25px;
  }

  mark {
    padding: 0;
    font-weight: bold;
    color: inherit;
    background-color: inherit;
  }

  p {
    margin-top: 4px;
    margin-bottom: 0;
    font-size: 95%;
    line-height: 1.6;
  }
}

.hit-header {
  margin-bottom: 2px;
  font-size: 120%;
  font-weight: normal;
  color: inherit;
}

.hit-link {
  display: inline-block;
  text-decoration: none !important;

  &:hover h2 {
    text-decoration: underline;
  }
}

.hit-path {
  color: var(--search-path);
}

.no-hits {
  line-height: 1.8;
}
