@import "src/styles/modules";

.container {
  display: flex;
  align-items: center;
}

.icon {
  width: 48px;
  margin: 0 15px !important;

  @include media-breakpoint-down(md) {
    margin-left: 0 !important;
  }
}

.title {
  margin-bottom: 0;
  font-size: 24px;

  br {
    display: none;
  }

  @include media-breakpoint-down(md) {
    font-size: 120% !important;
    line-height: 1.2;

    br {
      display: inline;
    }
  }
}

.description {
  margin-top: 10px;
  margin-left: 78px;

  :global {
    .btn,
    .btn [data-icon] {
      margin-right: 8px;
    }
  }

  @include media-breakpoint-down(md) {
    margin-top: 20px;
    margin-left: 0;

    .btn {
      padding: 7px 14px;
      margin-bottom: 5px;
      font-size: 100%;
    }
  }
}
