# vim: set ft=nginx sw=4:

location / {
    try_files $uri $uri/index.html $uri/index.xml =404;
    error_page 404 /404.html;
}

location /healthz {
    default_type text/plain;
    access_log off;
    return 200 "OK";
}
