@import "src/styles/modules";

.body {
  @include media-breakpoint-down(lg) {
    margin-right: 13px;
    margin-left: 13px;
  }

  @include media-breakpoint-down(md) {
    margin-right: 0;
    margin-left: 0;
    border-radius: 0;
  }

  > h2 {
    padding: 9px 15px 7px;
    margin: 48px 0 16px;
    font-size: 140%;
    background-color: var(--headings-secondary);
    border: 1px solid var(--headings-border);

    @include media-breakpoint-down(lg) {
      padding: 7px 12px;
    }

    @include media-breakpoint-down(md) {
      padding: 7px 15px;
      margin: 30px -15px 15px;
      font-size: 120%;
      border-width: 1px 0;
    }
  }

  h2 {
    color: var(--headings-color);
  }

  > h3 {
    padding: 0 16px 5px;
    margin: 50px 0 15px;
    font-size: 120%;
    border-bottom: 1px solid var(--headings-border);

    @include media-breakpoint-down(lg) {
      padding-right: 13px;
      padding-left: 13px;
      font-size: 110%;
    }

    @include media-breakpoint-down(md) {
      padding: 6px 15px;
      margin: 10px -15px 15px;
    }
  }

  h2 + h3 {
    margin-top: 30px;
  }

  a:global(.anchor) {
    top: auto;
    width: 55px;

    @include media-breakpoint-down(md) {
      right: 8px;
      left: auto;
      width: auto;
      transform: none;
    }
  }

  > p {
    padding: 0 16px;

    @include media-breakpoint-down(lg) {
      padding: 0 13px;
      font-size: 14px;
    }

    @include media-breakpoint-down(md) {
      padding: 0;
    }
  }

  > p,
  > ul,
  > ol {
    margin-bottom: 1.8em;
  }

  p {
    font-size: 11pt;
    line-height: 1.8;
  }

  ul,
  ol {
    padding-left: 55px;
    font-size: 11pt;
    font-variant-numeric: tabular-nums;
    line-height: 1.8;

    ul,
    ol {
      padding-left: 40px;

      @include media-breakpoint-down(md) {
        padding-left: 25px;
      }
    }

    p {
      margin-bottom: 0;
    }

    pre {
      margin: 5px 0 0;
    }

    @include media-breakpoint-down(md) {
      padding-left: 35px;
    }
  }

  blockquote {
    padding: 10px 20px 4px;
    border-left: 5px solid var(--blockquote-border);

    @include media-breakpoint-down(md) {
      padding-left: 15px;
      margin-left: 10px;
    }
  }

  img:global {
    &:not(.gatsby-resp-image-image) {
      max-width: 100%;
    }

    &.emoji {
      width: 1.25em;
      height: auto;
    }
  }

  :global {
    .footnote-ref {
      &::before {
        content: "[";
      }

      &::after {
        content: "]";
      }
    }

    .footnotes {
      p {
        display: inline;
      }

      hr {
        display: none;
      }
    }

    .wide-list {
      li {
        margin-bottom: 1.8em;

        &:first-of-type {
          margin-top: 1.4em;
        }
      }
    }

    .alert {
      + h2 {
        margin-top: 0;
      }

      > p {
        padding: 0;
        margin-bottom: 0;
      }

      @include media-breakpoint-down(md) {
        text-align: left;
      }
    }

    /* Images */
    .gatsby-resp-image-wrapper {
      width: 100%;
    }

    li > .gatsby-resp-image-wrapper {
      margin: 0.9em 0 1.8em;
    }

    .gist {
      padding: 0 16px;

      @include media-breakpoint-down(lg) {
        padding: 0 13px;
      }

      @include media-breakpoint-down(md) {
        padding: 0;
      }
    }

    .gatsby-highlight {
      margin: 0.5em 16px 1.8em;
      overflow: auto;
      background-color: var(--code-background);
      border-radius: 0.3em;
      -webkit-overflow-scrolling: touch;

      @include media-breakpoint-down(lg) {
        margin-right: 13px;
        margin-left: 13px;
      }

      @include media-breakpoint-down(md) {
        margin-right: -15px;
        margin-left: -15px;
        border-radius: 0;
      }
    }

    .gatsby-highlight-code-line {
      display: block;
      padding-right: 1em;
      padding-left: 4.6em;
      margin-right: -1em;
      margin-left: -4.6em;
      background-color: var(--code-highlight);
    }

    li > .gatsby-highlight {
      margin: 0.5em 0 0.9em;

      @include media-breakpoint-down(md) {
        border-radius: 0.3em;
      }
    }

    /* Prism.js */
    pre[class*="language-"],
    code[class*="language-"] {
      margin: 0;
      text-shadow: none;
      border-radius: 3px;

      .token.operator,
      .token.string {
        background: none;
      }

      .token.prompt {
        color: var(--code-prompt);
        user-select: none;
      }

      @include media-breakpoint-down(md) {
        border-radius: 0;
      }
    }

    pre[class*="language-"] {
      display: inline-block;
      padding: 0;
      margin: 1em;
      overflow: visible;

      &.line-numbers {
        min-width: calc(100% - 2em);
        padding-left: 3.6em;

        .line-numbers-rows {
          min-width: 3em;
          letter-spacing: 0;

          > span::before {
            padding-left: 0.8em;
          }
        }
      }
    }

    *:not(pre) > code[class*="language-"] {
      padding: 2px 4px;
      overflow-wrap: break-word;
    }

    .monospace {
      pre[class*="language-"],
      code[class*="language-"] {
        img.emoji {
          width: 1em;
        }
      }
    }

    table:global(:not(.highlight)) {
      width: 100%;
      margin: 20px 0 10px;

      > thead,
      > tbody,
      > tfoot {
        > tr {
          > td,
          > th {
            padding: 8px 16px;
            line-height: 1.4286;
            vertical-align: top;
            border: 1px solid var(--table-border);
            border-width: 1px 0;

            p {
              padding: 0;
              margin-bottom: 0;
            }

            @include media-breakpoint-down(md) {
              white-space: nowrap;
            }
          }

          &:last-of-type {
            > td,
            > th {
              border-bottom: 1px solid var(--table-border);
            }
          }
        }
      }

      @include media-breakpoint-down(md) {
        display: block;
        width: calc(100% + 30px);
        margin: 10px -15px;
        overflow: auto;
      }
    }
  }
}
